@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-color: seagreen;
  padding-left: 30px;
}

.black {
  color: black;
}

.red {
  color: red;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.card {
  padding: .1rem;
  border-radius: 0.5rem;
  background: var(--background);
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.4);
  font-size: 8em;
  cursor: pointer;
}

.selected-card {
  border: rgb(214, 0, 0);
  border-width: 5px;
  border-style: solid;
}

.deck {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.deck-card {
  background-color:rgb(249, 249, 250);
  color: rgb(43, 1, 156);
}

.deck-label {
  font-weight: bold;
  -webkit-user-select: none;
  user-select: none;
}

.hand {
  width: 50%;
  display: inline-block;
  margin-bottom: 50px;
  text-align: center;
}

.hand-finish-button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 150px;
}

.hand-finish-button-disabled {
  background-color: rgb(139, 139, 139);
  color: rgb(40, 40, 40);
}

.hand-finish-button-active {
  background-color: rgb(255, 255, 255);
  color: black;
}

.hand-finish-button-winner {
  background-color: rgb(255, 0, 0);
  font-weight: bold;
  color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
